$base-font-family: "pf_beausans_probbook", Arial, sans-serif;
$base-font-family-bold: "pf_beausans_probold", Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$link-color: #3ea1cc;
$container-width: 935px;

$brand-green-color: #bdd05b;
$brand-blue-color: #3ea1cc;
$brand-red-color: #D04000;