@import "compass";
@import "vars";

@import "fonts";
@import "bootstrap";

body {
    font: $base-font-size $base-font-family;
    line-height: $base-line-height;
    @extend .reset;
    background-color: #fff;
    overflow: auto;
}

a {
    color: $brand-blue-color;
    &:hover {
        text-decoration: none;
    }
}

h2 {
    font-size: 1.5em;
    color: #252525;
}

.is-hidden {
    display: none;
}

.text-cap {
    text-transform: uppercase;
    letter-spacing: 0.5ex;
    word-spacing: 0.2em;
}

.reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.unstyled {
    list-style-type: none;
}

.fixed-width {
    width: $container-width;
    margin: auto;
}

.page-head {
    position: relative;
    margin-bottom: 65px;
    padding-top: 47px;
    @extend .fixed-width;

    .logo {
        position: absolute;
        top: 105px;
        left: -17px;
        width: 220px;
        height:133px;
        z-index: 1;
        background: image-url('sprite_set.png') 0 0 no-repeat;
        text-indent: -1000em;
        outline: 0;
    }
    .social {
        position: absolute;
        left: -5px;
        top: 62px;
        @extend .unstyled;
        @extend .reset;
        .ico {
            float: left;
            margin-right: 17px;
        }
        .ico a{
            display: block;
            width: 15px;
            height: 15px;
            overflow: hidden;
            background: image-url('sprite_set.png') 0 0 no-repeat;
            text-indent: -9999px;
        }
        .ico-fb a{
            background-position: -141px -136px;
        }
        .ico-twit a{
            background-position: -171px -136px;
        }
        .ico-vk a{
            background-position: -205px -136px;
        }
    }
}

.promo-row {
    position: relative;
    z-index: 0;
    height: 350px;
    &.condensed {
        height: 200px;
    }

    .planes {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 500px;
        overflow: hidden;
        .plane {
            position: absolute;
            top: 0;
            left: 50%;
            width: 1400px;
            margin-left: -700px;
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
        }
        .back_wrap {
            top: 0;
            z-index: 2;
        }
        .top_wrap {
            top: 25px;
            z-index: 3;
        }
        @media screen and (min-width: 1400px){
            &:before {
                position: absolute;
                left: 50%; top: 0;
                content: '';
                width: 100px;
                height: 500px;
                margin-left: -700px;
                @include background(linear-gradient(left, #fff 0, #fff 10%, transparent 100%));
                z-index: 5;
            }
            &:after {
                position: absolute;
                right: 50%; top: 0;
                content: '';
                width: 200px;
                height: 500px;
                margin-right: -700px;
                @include background(linear-gradient(right, #fff 0, transparent 90%));
                z-index: 5;
            }
        }
    }
    &.condensed {
        .promo-blocks {
            top: 20px;
            .subtitle {
                display: block;
                margin-top: -5px;
                font-size: 2em;
            }
            .more {
                bottom: 1em;
            }
        }
    }
    .promo-blocks {
        position: absolute;
        width: 570px;
        top: 60px;
        left: 50%;
        margin-left: ($container-width/$base-font-size)/2*-1 + 12.3em;
        color: #fff;
        z-index: 3;
        font-family: $base-font-family-bold;
        .block {
            position: relative;
            height: 150px;
        }
        .title {
            text-transform: uppercase;
            margin-bottom: 5px;
            font-size: 1.1em;
        }
        .subtitle {
            font-size: 3em;
            line-height: 1;
        }
        .more {
            position: absolute;
            right: 25px;
            bottom: -4em;
            color: #aec8da;
            font-weight: bold;
            &:hover {
                text-decoration: none;
            }
            &:after {
                position: relative;
                display: inline-block;
                content: '';
                width: 20px;
                height: 20px;
                background: inline-image('arrow.png', 'image/png') 50% 50% no-repeat;
                top: 0.3em;
                margin-left: 10px;
                border: 2px solid #aec8da;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
            }
        }
        li {
            width: 500px;
            display: none;
        }
        .active {
            display: block;
        }
        .controls {
            position: absolute;
            top: 240px;
            left: 30%;
            z-index: 3;
            .active {
                background-color: #3aa6d3;
            }
        }
        .control {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 5px;
            border: 5px solid #ddd;
            background-color: #ddd;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            cursor: pointer;
        }
    }
}

.nav {
    font-size: 0.8em;
    text-align: right;
    font-family: $base-font-family-bold;
    @extend .unstyled;

    .nav-item {
        display: inline-block;
        margin-right: 33px;
    }
    .nav-item:last-child{
        position: relative;
        margin-right: 0;
        padding-left: 33px;
        &:before {
            position: absolute;
            left: 0;
            top: -5px;
            content: '';
            width: 0;
            height: 30px;
            font-size: 0;
            border-left: 1px solid #eeeeee;
        }
    }
}

.page-content {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 50px;
    border-bottom: 1px solid #eeeeee;
    font-size: 0.8em;
    @extend .fixed-width;
}

.news-row {
    .date {
        color: $brand-green-color;
        text-transform: uppercase;
        font-size: 0.85em;
    }
    h3 {
        margin-bottom: 1.5em;
    }
}

.promo-about {
    position: relative;
    margin: 95px 0 60px;
    padding-left: 315px;
    min-height: 200px;
    font-family: $base-font-family-bold;

    h2 {
        margin: -0.2em 0 0.5em 0;
        font-size: 2.7em;
        font-weight: bold;
    }
    .subtitle {
        display: block;
        font-weight: bold;
        font-size: 1.3em;
    }
    .chart {
        position: absolute;
        left: 20px;
        top: -30px;
    }
    p {
        font-family: $base-font-family;
        font-size: 1.1em;
        line-height: 1.8;
    }
    .links {
        margin-top: 30px;
    }
    .links a {
        margin-right: 30px;
    }
}

.company-portfolio {
    margin-left: -25px;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: $base-font-family-bold;
    .text {
        letter-spacing: 0.5ex;
    }
    .num {
        position: relative;
        top: 0.2em;
        display: inline-block;
        padding: 2px 11px 0 20px;
        background: inline-image('block-project.png', 'image/png') 0 0 no-repeat;
        color: #FFFFFF;
        font-size: 2.5em;
        font-style: normal;
    }
    sup {
        top: -1.2em;
        left: -3px;
        font-size: 0.45em;
    }
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-mdash {
    margin: 0 0 0 2em;
    padding: 0;
    list-style: none;
    li {
        margin-bottom: 0.5em;
        padding-left: 20px;
        &:before {
            margin: 0 5px 0 -20px;
            content: '—';
            color: #999;
        }
    }
}

.news-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        margin-bottom: 2.5em;
    }
    time {
        display: block;
        margin-bottom: 0.5em;
        color: $brand-green-color;
        text-transform: uppercase;
    }
    h2 {
        margin: 0 0 -0.5em 0;
        font-size: 1.2em;
    }
}

.contact-form {
    li {
        margin-bottom: 1em;
    }
    label {
        float: left;
        width: 230px;
        margin-right: 20px;
        text-align: right;
    }
    input, textarea {
        width: 300px;
        padding: 5px;
        border: 1px solid $brand-blue-color;

        &:focus {
            outline-width: 0;
            box-shadow: 0 0 5px $brand-blue-color;
        }
    }
    textarea {
        height: 100px;
    }
    button {
        margin-left: 250px;
        padding: 5px 15px;
        background-color: $brand-blue-color;
        border: 0;
        color: #fff;
        cursor: pointer;
        &:hover {
            background-color: lighten($brand-blue-color, 10%);
        }
        &:active {
            background-color: darken($brand-blue-color, 10%);
        }
    }
}

.advertise-platforms {
    overflow: hidden;
    padding: 5px;
    @extend .reset;
    li {
        float: left;
        width: 200px;
        height: 100px;
        overflow: hidden;
        margin-right: 10px;
        margin-bottom: 15px;
        -webkit-box-shadow: 0 0 5px #bbb;
        -moz-box-shadow: 0 0 5px #bbb;
        box-shadow: 0 0 5px #bbb;
        text-align: center;
        line-height: 100px;
    }
}

.partner-block {
    overflow: hidden;
    img {
        float: left;
        margin-right: 20px;
    }
    .partner-block-text {
        overflow: hidden;
    }
}

.footer {
    margin-bottom: 15px;
    font-size: 0.8em;
}